body {
  font-family: 'Montserrat', sans-serif;

  background-image: url(../images/backgroud_mobile@1x.jpg);
  background-repeat: repeat;
  background-size: cover;
  background-attachment: fixed;

  cursor: url(../images/favicon.png), pointer;

  // mobile screen retina
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: url(../images/backgroud_mobile@2x.jpg);
  }

  // tablet screen
  @media screen and (min-width: 768px) {
    background-image: url(../images/background_tablet@1x.jpg);

    // tablet screen retina
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url(../images/background_tablet@2x.jpg);
    }
  }

  // desktop screen
  @media screen and (min-width: 1200px) {
    background-image: url(../images/backgroud_desktop@1x.jpg);

    // desktop screen retina
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url(../images/backgroud_desktop@2x.jpg);
    }
  }
}
