body {
<<<<<<< HEAD
  font-family: 'Montserrat', sans-serif;
}
=======
    font-family: 'Montserrat', sans-serif;

    background-image: url(../images/backgroud_mobile@1x.jpg);
    background-repeat: repeat;
    background-size: cover;

    // mobile screen retina
        @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
            background-image: url(../images/backgroud_mobile@2x.jpg);
        }
    
    
        // tablet screen
        @media screen and (min-width: 481px) {
            background-image: url(../images/background_tablet@1x.jpg);
    
            // tablet screen retina
            @media screen and (min-device-pixel-ratio: 2),
            screen and (min-resolution: 192dpi),
            screen and (min-resolution: 2dppx) {
                background-image: url(../images/background_tablet@2x.jpg);
            }
    
        }
    
        // desktop screen
        @media screen and (min-width: 769px) {
            background-image: url(../images/backgroud_desktop@1x.jpg);
    
            // desktop screen retina
            @media screen and (min-device-pixel-ratio: 2),
            screen and (min-resolution: 192dpi),
            screen and (min-resolution: 2dppx) {
                background-image: url(../images/backgroud_desktop@2x.jpg);
            }
    
        }
}
>>>>>>> main
