$primary-color: #84A178;
$second-color: #FCFCFC;
$accent-color: #F8D24E;
$main-text-color: #131313;
$btn-hover: #0A8817;
$btn-disable: #ABABAB;

// TRANSITIONS
$color-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
$bck-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
$shadow-transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
$border-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
