<section class="about">
  <div class="about__container">
    <p class="about__text-slogan">tradition and love</p>
    <h2 class="about__title">how it’s made?</h2>
    <ul class="about__list">
      <li class="about__item">
        <div class="about__bc-img"></div>
        <img
          class="about__cow-img"
          srcset="
            ./images/about/cow/img-cow_279.jpg 279w,
            ./images/about/cow/img-cow_330.jpg 330w,
            ./images/about/cow/img-cow_490.jpg 490w,
            ./images/about/cow/img-cow_558.jpg 558w,
            ./images/about/cow/img-cow_660.jpg 660w,
            ./images/about/cow/img-cow_980.jpg 980w
          "
          sizes="(min-width: 1200px) 490px, (min-width: 768px) 330px, (min-width: 480px) 279px, 100vw"
          src="./images/about/cow/img-cow_490.jpg"
          alt="foto-product-designer"
        />
      </li>
      <li class="about__item">
        <p class="about__text">
          Ice is a place where you will become not only a little happier, but
          also healthier. Health is the main value for us, and we follow it when
          creating our handmade desserts.
        </p>
        <p class="about__text">
          We use traditional recipes and 100% natural ingredients. Our products
          are so natural that they can be given to children from the age of
          three years. Sweets lovers can expect 55 types of ice cream, 15 types
          of coffee and 23 milkshakes.
        </p>
        <p class="about__text">
          This is enough to choose ice cream and coffee for any mood!
        </p>
        <button class="about__btn" type="button">
          <div class="about__btn-cont">
            <span class="about__btn-text">Read more</span>
            <svg class="about__btn-svg" width="12" height="12">
              <use href="./images/about/symbol-defs.svg#icon-arrow"></use>
            </svg>
          </div>
        </button>
      </li>
    </ul>
  </div>
</section>
