<section class="advantages--section">
  <div class="advantages__container">
    <ul class="advantages--list">
      <li class="advantages--item">
        <div class="advantages--block">
          
          <p  class="advantages--number cow_svg">721</p>
          <p  class="advantages--txt">
           Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
          </p>
        </div>
      </li>
      <li class="advantages--item">
        <div class="advantages--block">
          
          <p class="advantages--number weight_svg">16kg</p>
          <p class="advantages--txt">
           Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
          </p>
        </div>
      </li>
      <li class="advantages--item">
        <div class="advantages--block">
          
          <p class="advantages--number icecrema_svg">84</p>
          <p class="advantages--txt">
           Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
