<section class="advantages--section">
  <div class="advantages__container">
    <ul class="advantages--list">
      <li class="advantages--item">
        <div class="advantages--block">
          <svg class="advantages--svg" width="35" height="35">
            <use href="./images/icons_sprite.svg#cow_advantages"></use>
          </svg>
          <p  class="advantages--number">721</p>
          <p  class="advantages--txt">
           Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
          </p>
        </div>
      </li>
      <li class="advantages--item">
        <div class="advantages--block">
          <svg class="advantages--svg" width="35" height="35">
            <use href="./images/icons_sprite.svg#weight_advantages"></use>
          </svg>
          <p class="advantages--number">16kg</p>
          <p class="advantages--txt">
           Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
          </p>
        </div>
      </li>
      <li class="advantages--item">
        <div class="advantages--block">
          <svg class="advantages--svg" width="35" height="35">
            <use href="./images/icons_sprite.svg#icecrema_advantages"></use>
          </svg>
          <p class="advantages--number">84</p>
          <p class="advantages--txt">
           Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
