<section class= “contacts__container”>
    <h2 class="visually-hidden">our addresses</h2>
    <ul class="contacts__list">
        <li class="contacts__ithem">
            <address class="contacts__address">
                <h3>CAFE</h3>
                <div class="contacts__location">
                    <p class="contacts__location--text">Chicago</p>
                    <a class="contacts__location--link" href="https://goo.gl/maps/6xaKA1vausbiutiz7">10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</a>
                </div>
                <div class="contacts__week">
                    <div class="contacts__week--working-days">
                        <p>Monday - Friday</p>
                        <p>06:00 AM - 10:00 PM</p>
                    </div>
                    <div class="contacts__week--weekend-days">
                        <p>Saturday - Sunday</p>
                        <p>08:00 AM - 16:00 PM</p>
                    </div>
                </div>
                <div class="contacts__tel-mail">
                    <a class="contacts__tel" href="">+61(0) 383 766 284</a>
                    <a class="contacts__mail" href="">noreply@envato.com</a>
                </div>
            </address>
                
        </li>
        <li></li>
        <li></li>
    </ul>
    <button type="button"></button>
    <button type="button"></button>
</section>