<!--contacts-->

<section class="contacts__box" id="contacts">
    <div class="contacts__container">
<h2 class="visually-hidden">our addresses</h2>
<ul class="contacts__list">
    <li class="contacts__ithem">
        <address class="contacts__address">
            <p class="contacts__title">CAFE</p>
            <div class="contacts__location ">
                <p class="contacts__location--text">Chicago</p>
                <a class="contacts__location--link" href="https://goo.gl/maps/6xaKA1vausbiutiz7">10340 Ridgeland Ave,
                    Chicago Ridge, IL 60415, USA</a>
            </div>
            <div class="contacts__week contacts__before contacts__after">
                <div class="contacts__week--working">
                    <p class="contacts__week--working--days">Monday - Friday</p>
                    <p class="contacts__week--working--time">06:00 AM - 10:00 PM</p>
                </div>
                <div class="contacts__week--weekend-days">
                    <p class="contacts__week--working--days">Saturday - Sunday</p>
                    <p class="contacts__week--working--time">08:00 AM - 16:00 PM</p>
                </div>
            </div>
            <div class="contacts__tel-mail ">
                <a class="contacts__tel" href="">+61(0) 383 766 284</a>
                <a class="contacts__mail" href="">noreply@envato.com</a>
            </div>
        </address>
    </li><li class="contacts__ithem">
        <address class="contacts__address">
            <p class="contacts__title">FOODTRUCK</p>
            <div class="contacts__location">
                <p class="contacts__location--text">Los Angeles</p>
                <a class="contacts__location--link" href="https://goo.gl/maps/cRb3GLhxoBmZFLSu8">1003 Manhattan Ave,
                    Manhattan Beach, CA 90263, USA</a>
            </div>
            <div class="contacts__week contacts__before contacts__after">
                <div class="contacts__week--working">
                    <p class="contacts__week--working--days">Monday - Friday</p>
                    <p class="contacts__week--working--time">06:00 AM - 10:00 PM</p>
                </div>
                <div class="contacts__week--weekend-days">
                    <p class="contacts__week--working--days">Saturday - Sunday</p>
                    <p class="contacts__week--working--time">08:00 AM - 16:00 PM</p>
                </div>
            </div>
            <div class="contacts__tel-mail">
                <a class="contacts__tel" href="">+61(0) 383 766 284</a>
                <a class="contacts__mail" href="">noreply@envato.com</a>
            </div>
        </address>
    </li><li class="contacts__ithem">
        <address class="contacts__address">
            <p class="contacts__title">CAFE</p>
            <div class="contacts__location">
                <p class="contacts__location--text">New York</p>
                <a class="contacts__location--link" href="https://goo.gl/maps/p7npJ5B77T1rhPsR6">726 Sterling Pl,
                    Brooklyn, NY 11222, USA</a>
            </div>
            <div class="contacts__week contacts__before contacts__after">
                <div class="contacts__week--working">
                    <p class="contacts__week--working--days">Monday - Friday</p>
                    <p class="contacts__week--working--time">06:00 AM - 10:00 PM</p>
                </div>
                <div class="contacts__week--weekend-days">
                    <p class="contacts__week--working--days">Saturday - Sunday</p>
                    <p class="contacts__week--working--time">08:00 AM - 16:00 PM</p>
                </div>
            </div>
            <div class="contacts__tel-mail">
                <a class="contacts__tel" href="">+61(0) 383 766 284</a>
                <a class="contacts__mail" href="">noreply@envato.com</a>
            </div>
        </address>
    </li>
</ul>
<ul class="contacts-btn__list">
    <li class="contacts-btn__ithem contacts-btn__ithem--margin">
        <button 
        class="contacts__btn-locations contacts__btn js-open-modal" 
        data-modal="contacts-locations__data-modal" 
        type="button">Our Locations
            <svg class="contacts-btn__svg">
                <use href="./images/icons_sprite.svg#arrow_short"></use>
            </svg>
        </button>
        <!--modal 1 start-->
            <div class="modal" 
            data-modal="contacts-locations__data-modal">
            <svg class="modal__cross js-modal-close">
                <use href="./images/about/symbol-defs.svg#icon-modal-cross"></use>
            </svg>
            
                <p class="contacts__modal-subtitle">Our Locations</p>
                <form>
                    <div class="contacts__modal-form__map">
                        <iframe class="contacts__modal--maps"
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d325515.68161572196!2d30.25251015734255!3d50.402136755748614!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4cf4ee15a4505%3A0x764931d2170146fe!2z0JrQuNC10LIsIDAyMDAw!5e0!3m2!1sru!2sua!4v1671897102082!5m2!1sru!2sua"
                            style="border:0;" allowfullscreen="" loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                    <a class="contacts__button-submit contacts__button-submit--locations" href="https://goo.gl/maps/iX5VnxNTtXTyP7vB9">
                        <span>Open map</span>
                    </a>
                </form>
                
            </div>
            <div class="overlay js-overlay-modal"></div>
        <!--modal 1 finish-->

    </li>
    <li class="contacts-btn__ithem">
        <button
        data-modal="contacts-franchise__data-modal"
        class="contacts__btn-franchise contacts__btn js-open-modal"
        type="button">Franchise
            <svg class="contacts-btn__svg">
                <use href="./images/icons_sprite.svg#arrow_short"></use>
            </svg>
        </button>
        <!--modal 2 start-->
            <div class="modal" 
            data-modal="contacts-franchise__data-modal">
                <svg class="modal__cross js-modal-close">
                    <use href="./images/about/symbol-defs.svg#icon-modal-cross"></use>
                </svg>
                <p class="contacts__modal-subtitle">Thank you for your interest in owning an Ice Cream shop</p>
                <p class="contacts__modal-title">Due to the overwhelming volume of franchise requests we are not accepting new franchisee applications at this time. Once
                the application process resumes, we will contact you for further information. Please fill out the contact information
                below and we will reach out for additional information. We appreciate your patience.</p>

                <form class="contacts__modal-form">
                    <div class="contacts__form-group">
                        <label>
                            <input class="contacts__form-input" type="text" required minlength="2" placeholder="Name">
                        </label>
                        <label>
                            <input class="contacts__form-input" type="tel" required minlength="10" maxlength="12" placeholder="Phone">
                        </label>
                        <label>
                            <input class="contacts__form-input" type="email" required placeholder="Email">
                        </label>
                        <label>
                            <textarea class="contacts__form-massage" name="user_message" rows="4" placeholder="Comment"></textarea>
                        </label>
                        <button class="contacts__button-submit--franchise contacts__button-submit" type="submit">Submit</button>
                    </div>
                </form>
            </div>
            <div class="overlay js-overlay-modal"></div>
        <!--modal 2 finish-->
    </li>
</ul>
</div>
</section>
    