<div class="header__container">
  <nav class="header__nav">
    <a href="./index.html">
      <img src="./images/header/logo.png" alt="logo company"
    /></a>
    <ul class="header__list">
        <li class="header-nav__item"><a class="header-nav__link" href="./index.html">Home</a></li>
        <li class="header-nav__item"><a class="header-nav__link" href="#about">How it’s made?</a></li>
        <li class="header-nav__item"><a class="header-nav__link" href="#products">Our products</a></li>
        <li class="header-nav__item"><a class="header-nav__link" href="#contacts">Contact</a></li>
    </ul>
    <div class="buttons-conteiner">
    <button class="menu-toggle js-open-menu" aria-expanded="false" aria-controls="mobile-menu">
        <svg width="32" height="32" aria-label="mobile menu switcher">
            <use class="icon-menu" href="./images/icons_sprite.svg#btn_menu"></use>
        </svg>
        <button class="header__btn" type="button">Buy now <svg class="button-icone" width="6" height="10">
          <use href="./images/header/button-icon.svg"></use>
        </svg></button>
  </div></nav>
</div>



    <!-- mobile menu -->
     <div class="menu-container js-menu-container" id="mobile-menu">
      <div class="menu__nav">
        <a class="mobile_logo" href="./index.html">
      <img src="./images/header/logo.png" width="48px" height="44px" alt="logo company"
    /></a>
        <button class="menu-toggle js-close-menu"><svg class="menu_button-close" width="32" height="32">
          <use href="./images/icons_sprite.svg#btn_close-white"></use>
        </svg>
           </button>
</div>
      <ul class="mobile-menu">
        <li class="mobile_menu-item">
          <a href="./index.html" class="mobile_menu__link ">Home</a>
        </li>
        <li class="mobile_menu-item"><a href="#about" class="mobile_menu__link header__link--current">How it’s made?</a></li>
        <li class="mobile_menu-item"><a href="#products" class="mobile_menu__link">Our products</a></li>
        <li class="mobile_menu-item"><a href="#contacts" class="mobile_menu__link">Contacts</a></li>
      </ul>
     
    
    </div>
