<section class="products section" id="products">
  <div class="container">
    <p class="section-subtitle">100% natural</p>
    <h2 class="section-title">products</h2>
    <ul class="list products__list">
      <li class="products__item products__item--ice-cream">
        <h3 class="products__title products__title--ice-cream">ice cream</h3>
        <p class="products__text">
          Soft ice cream with a delicate taste. Made with milk, cream, sugar and
          natural stabilizer
        </p>
        <button
          type="button"
          class="products__button"
          data-modal-ice-cream-open=""
        >
          <svg class="products__icon" width="41" height="16">
            <use href="./images/products/icons.svg#arrow"></use>
          </svg>
        </button>
      </li>
      <li class="products__item products__item--ice-coffee">
        <h3 class="products__title products__title--ice-coffee">ice coffee</h3>
        <p class="products__text">
          Fragrant invigorating drink created from 100% natural ingredients
          without the use of preservatives and flavor enhancers
        </p>
        <button
          type="button"
          class="products__button"
          data-modal-ice-coffee-open=""
        >
          <svg class="products__icon" width="41" height="16">
            <use href="./images/products/icons.svg#arrow"></use>
          </svg>
        </button>
      </li>
      <li class="products__item products__item--milkshakes">
        <h3 class="products__title products__title--milkshakes">milkshakes</h3>
        <p class="products__text">
          Sweet drinks based on milk and ice cream, supplemented with syrups,
          fruits, berries and other sweets of your choice
        </p>
        <button
          type="button"
          class="products__button"
          data-modal-milkshakes-open=""
        >
          <svg class="products__icon" width="41" height="16">
            <use href="./images/products/icons.svg#arrow"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
