<section class="products section" id="products">
  <div class="__container">
    <div class="title--animation">
      <p class="section-subtitle">100% natural</p>
      <h2 class="section-title h2">products</h2>
    </div>
    <ul class="products__list list">
      <li class="products__item products__item--ice-cream">
        <h3 class="h3 products__title products__title--ice-cream">ice cream</h3>
        <p class="products__text">
          Soft ice cream with a delicate taste. Made with milk, cream, sugar and
          natural stabilizer
        </p>
        <button
          type="button"
          class="products__button js-open-modal"
          data-modal="icecream"
        >
          <svg class="products__icon" width="41" height="16">
            <use href="./images/icons_sprite.svg#arrow_long"></use>
          </svg>
        </button>
      </li>
      <li class="products__item products__item--ice-coffee">
        <h3 class="h3 products__title products__title--ice-coffee">
          ice coffee
        </h3>
        <p class="products__text">
          Fragrant invigorating drink created from 100% natural ingredients
          without the use of preservatives and flavor enhancers
        </p>
        <button
          type="button"
          class="products__button js-open-modal"
          data-modal="icecoffee"
        >
          <svg class="products__icon" width="41" height="16">
            <use href="./images/icons_sprite.svg#arrow_long"></use>
          </svg>
        </button>
      </li>
      <li class="products__item products__item--milkshakes">
        <h3 class="h3 products__title products__title--milkshakes">
          milkshakes
        </h3>
        <p class="products__text">
          Sweet drinks based on milk and ice cream, supplemented with syrups,
          fruits, berries and other sweets of your choice
        </p>
        <button
          type="button"
          class="products__button js-open-modal"
          data-modal="milkshakes"
        >
          <svg class="products__icon" width="41" height="16">
            <use href="./images/icons_sprite.svg#arrow_long"></use>
          </svg>
        </button>
      </li>
    </ul>
    <div class="products modal" data-modal="icecream">
      <h2 class="products__modal-title">Chololate <span></span> icecream</h2>
      <picture>
        <source
          media="(min-width:768px)"
          srcset="
            ./images/products/img0_md@1x.png 1x,
            ./images/products/img0_md@2x.png 2x
          "
          type="image/jpg"
        />
        <source
          media="(min-width:320px)"
          srcset="
            ./images/products/img0_sm@1x.png 1x,
            ./images/products/img0_sm@2x.png 2x
          "
          type="image/jpg"
        />
        <img
          class="products__modal-image"
          src="./images/products/img0_sm@1x.png"
          alt="Chololate icecream"
          loading="lazy"
        />
      </picture>
      <ul class="products-chart list">
        <li class="chart__item icecream">
          <div class="circle icecream">
            <p class="ratio">320</p>
          </div>
          <p class="type">Kcal</p>
        </li>
        <li class="chart__item icecream">
          <div class="circle icecream">
            <p class="ratio">4g</p>
          </div>
          <p class="type">Protein</p>
        </li>
        <li class="chart__item icecream">
          <div class="circle icecream">
            <p class="ratio">8.2g</p>
          </div>
          <p class="type">Fats</p>
        </li>
        <li class="chart__item icecream">
          <div class="circle icecream">
            <p class="ratio">40.4g</p>
          </div>
          <p class="type">Carbs</p>
        </li>
      </ul>
      <h3 class="products-ingredients">Ingredients</h3>
      <ul class="ingr__list list">
        <li class="ingr__item">Milk<span class="ingr--space"></span>100ml</li>
        <li class="ingr__item">
          Belgian chocolate<span class="ingr--space"></span>20g
        </li>
        <li class="ingr__item">Cream<span class="ingr--space"></span>150ml</li>
        <li class="ingr__item">
          Cocoa powder<span class="ingr--space"></span>30g
        </li>
        <li class="ingr__item">Sugar<span class="ingr--space"></span>40g</li>
        <li class="ingr__item">
          Vanilla sugar<span class="ingr--space"></span>10g
        </li>
      </ul>
      <form class="form">
        <div role="group" class="form__group">
          <div class="form__list">
            <div class="form__field">
              <label class="form__label">
                <input
                  type="text"
                  id="name-icecream"
                  class="form__input icecream"
                  required
                  minlength="7"
                  placeholder="Name"
                  pattern="^[a-zA-Z]+\s[a-zA-Z]+$"
                  title="Input 2 words with a space."
                />
              </label>
            </div>
            <div class="form__field">
              <label class="form__label">
                <input
                  type="tel"
                  id="tel-icecream"
                  class="form__input"
                  required
                  placeholder="Phone"
                />
              </label>
            </div>
            <div class="form__field">
              <label class="form__label">
                <textarea
                  id="comment-icecream"
                  class="form__input form__input--textaria"
                  rows="3"
                  required
                  placeholder="Comment"
                ></textarea>
              </label>
            </div>
          </div>
          <button
            type="submit"
            class="submit__button submit__button--center btn"
          >
            Submit
          </button>
        </div>
      </form>
      <button class="button-close btn js-modal-close">
        <svg class="icon-cross" width="20" height="20">
          <use href="./images/icons_sprite.svg#btn_close-black"></use>
        </svg>
      </button>
    </div>
    <div class="products modal" data-modal="icecoffee">
      <h2 class="products__modal-title">Chololate <span></span> icecoffee</h2>
      <picture>
        <source
          media="(min-width:768px)"
          srcset="
            ./images/products/prod2_md@1x.png 1x,
            ./images/products/prod2_md@2x.png 2x
          "
          type="image/jpg"
        />
        <source
          media="(min-width:320px)"
          srcset="
            ./images/products/prod2_sm@1x.png 1x,
            ./images/products/prod2_sm@2x.png 2x
          "
          type="image/jpg"
        />
        <img
          class="products__modal-image"
          src="./images/products/prod2_sm@1x.png"
          alt="Chololate icecoffee"
          loading="lazy"
        />
      </picture>
      <ul class="products-chart list">
        <li class="chart__item icecoffee">
          <div class="circle icecoffee">
            <p class="ratio">320</p>
          </div>
          <p class="type">Kcal</p>
        </li>
        <li class="chart__item icecoffee">
          <div class="circle icecoffee">
            <p class="ratio">4g</p>
          </div>
          <p class="type">Protein</p>
        </li>
        <li class="chart__item icecoffee">
          <div class="circle icecoffee">
            <p class="ratio">8.2g</p>
          </div>
          <p class="type">Fats</p>
        </li>
        <li class="chart__item icecoffee">
          <div class="circle icecoffee">
            <p class="ratio">40.4g</p>
          </div>
          <p class="type">Carbs</p>
        </li>
      </ul>
      <h3 class="products-ingredients">Ingredients</h3>
      <ul class="ingr__list list">
        <li class="ingr__item">Milk<span class="ingr--space"></span>100ml</li>
        <li class="ingr__item">
          Belgian chocolate<span class="ingr--space"></span>20g
        </li>
        <li class="ingr__item">Cream<span class="ingr--space"></span>150ml</li>
        <li class="ingr__item">
          Cocoa powder<span class="ingr--space"></span>30g
        </li>
        <li class="ingr__item">Sugar<span class="ingr--space"></span>40g</li>
        <li class="ingr__item">
          Vanilla sugar<span class="ingr--space"></span>10g
        </li>
      </ul>
      <form class="form">
        <div role="group" class="form__group">
          <div class="form__list">
            <div class="form__field">
              <label class="form__label">
                <input
                  type="text"
                  id="name-icecoffee"
                  class="form__input icecoffee"
                  required
                  minlength="7"
                  placeholder="Name"
                  pattern="^[a-zA-Z]+\s[a-zA-Z]+$"
                  title="Input 2 words with a space."
                />
              </label>
            </div>
            <div class="form__field">
              <label for="tel" class="form__label">
                <input
                  type="tel"
                  id="tel-icecoffee"
                  class="form__input icecoffee"
                  required
                  placeholder="Phone"
                />
              </label>
            </div>
            <div class="form__field">
              <label class="form__label">
                <textarea
                  id="comment-icecoffee"
                  class="form__input icecoffee form__input--textaria"
                  rows="3"
                  required
                  placeholder="Comment"
                ></textarea>
              </label>
            </div>
          </div>
          <button
            type="submit"
            class="submit__button submit__button--center btn"
          >
            Submit
          </button>
        </div>
      </form>
      <button class="button-close btn js-modal-close">
        <svg class="icon-cross" width="20" height="20">
          <use href="./images/icons_sprite.svg#btn_close-black"></use>
        </svg>
      </button>
    </div>
    <div class="products modal" data-modal="milkshakes">
      <h2 class="products__modal-title">Chololate <span></span> milkshake</h2>
      <picture>
        <source
          media="(min-width:768px)"
          srcset="
            ./images/products/prod3_md@1x.png 1x,
            ./images/products/prod3_md@2x.png 2x
          "
          type="image/jpg"
        />
        <source
          media="(min-width:320px)"
          srcset="
            ./images/products/prod3_sm@1x.png 1x,
            ./images/products/prod3_sm@2x.png 2x
          "
          type="image/jpg"
        />
        <img
          class="products__modal-image"
          src="./images/products/prod3_sm@1x.png"
          alt="Chololate milkshake"
          loading="lazy"
        />
      </picture>
      <ul class="products-chart list">
        <li class="chart__item milkshakes">
          <div class="circle milkshakes">
            <p class="ratio">320</p>
          </div>
          <p class="type">Kcal</p>
        </li>
        <li class="chart__item milkshakes">
          <div class="circle milkshakes">
            <p class="ratio">4g</p>
          </div>
          <p class="type">Protein</p>
        </li>
        <li class="chart__item milkshakes">
          <div class="circle milkshakes">
            <p class="ratio">8.2g</p>
          </div>
          <p class="type">Fats</p>
        </li>
        <li class="chart__item milkshakes">
          <div class="circle milkshakes">
            <p class="ratio">40.4g</p>
          </div>
          <p class="type">Carbs</p>
        </li>
      </ul>
      <h3 class="products-ingredients">Ingredients</h3>
      <ul class="ingr__list list">
        <li class="ingr__item">Milk<span class="ingr--space"></span>100ml</li>
        <li class="ingr__item">
          Belgian chocolate<span class="ingr--space"></span>20g
        </li>
        <li class="ingr__item">Cream<span class="ingr--space"></span>150ml</li>
        <li class="ingr__item">
          Cocoa powder<span class="ingr--space"></span>30g
        </li>
        <li class="ingr__item">Sugar<span class="ingr--space"></span>40g</li>
        <li class="ingr__item">
          Vanilla sugar<span class="ingr--space"></span>10g
        </li>
      </ul>
      <form class="form">
        <div role="group" class="form__group">
          <div class="form__list">
            <div class="form__field">
              <label class="form__label">
                <input
                  type="text"
                  id="name-milkshakes"
                  class="form__input milkshakes"
                  required
                  minlength="7"
                  placeholder="Name"
                  pattern="^[a-zA-Z]+\s[a-zA-Z]+$"
                  title="Input 2 words with a space."
                />
              </label>
            </div>
            <div class="form__field">
              <label class="form__label">
                <input
                  type="tel"
                  id="tel-milkshakes"
                  class="form__input milkshakes"
                  required
                  placeholder="Phone"
                />
              </label>
            </div>
            <div class="form__field">
              <label class="form__label">
                <textarea
                  id="comment-milkshakes"
                  class="form__input form__input--textaria milkshakes"
                  rows="3"
                  required
                  placeholder="Comment"
                ></textarea>
              </label>
            </div>
          </div>
          <button
            type="submit"
            class="submit__button submit__button--center btn"
          >
            Submit
          </button>
        </div>
      </form>
      <button class="button-close btn js-modal-close">
        <svg class="icon-cross" width="20" height="20">
          <use href="./images/icons_sprite.svg#btn_close-black"></use>
        </svg>
      </button>
    </div>
    <div class="products overlay js-overlay-modal"></div>
    <!-- <p h3 class="buynow__main-title">Buy now</p> -->
    <!-- <ul class="buynow-modal__list list">
      <li class="buynow__item buynow__item--ice-cream">
        <h3 class="h3 buynow__title buynow__title--ice-cream">ice cream</h3>
      </li>
      <li class="buynow__item buynow__item--ice-coffee">
        <h3 class="h3 buynow__title buynow__title--ice-coffee">ice coffee</h3>
      </li>
      <li class="buynow__item buynow__item--milkshakes">
        <h3 class="h3 buynow__title buynow__title--ice-cream">milkshakes</h3>
      </li>
    </ul> -->
  </div>
  <!--__container-->
</section>
