<div class="reviews__container">
  <div class="reviews__img--box">
    <ul>
      <li class="reviews__img--item">
        <picture>
          <source
            srcset="
              ./images/reviews/reviews1@1x.jpg 1x,
              ./images/reviews/reviews1@2x.jpg 2xn            "
          />
          <img
            class="reviews__img--item"
            src="./images/reviews/reviews1@1x.jpg"
            alt="customer"
            idth="100%"
            hight="100%"
            loading="lazy"
          />
        </picture>
      </li>
    </ul>
  </div>

  <div class="reviews__text--box">
    <p class="reviews__text">
      I love visiting your cafe. You prepare the most delicious ice cream in Los
      Angeles! In addition, you have beautiful serving, cozy atmosphere and
      polite staff.
    </p>
  </div>
  <p class="reviews__name">Emily, Los Angeles</p>
</div>
