<section class="reviews__container">
  <div class="swiper">
    <div class="swiper-wrapper">
      <!-- Slide1 -->
      <div class="swiper-slide">
        <picture class="reviews__img--item">
          <source
            srcset="
              ./images/reviews/reviews1@1x.jpg 1x,
              ./images/reviews/reviews1@2x.jpg 2x
            "
          />
          <img
            class="reviews__img--item"
            src="./images/reviews/reviews1@1x.jpg"
            alt="customer"
            loading="lazy"
          />
        </picture>

        <div class="reviews__text--box">
          <p class="reviews__text">
            I love visiting your cafe. You prepare the most delicious ice cream
            in Los Angeles! In addition, you have beautiful serving, cozy
            atmosphere and polite staff.
          </p>
        </div>
        <div class="reviews__name">
          <p>Emily, Los Angeles</p>
        </div>
      </div>
      <!-- Slide2 -->
      <div class="swiper-slide">
        <picture class="reviews__img--item">
          <source
            srcset="
              ./images/reviews/reviews2@1x.jpg 1x,
              ./images/reviews/reviews2@2x.jpg 2x
            "
          />
          <img
            class="reviews__img--item"
            src="./images/reviews/reviews2@1x.jpg"
            alt="customer"
            loading="lazy"
          />
        </picture>
        <div class="reviews__text--box">
          <p class="reviews__text">
            Every day we come to you with friends after classes in college. We
            love your ice cream and casual atmosphere!
          </p>
        </div>
        <div class="reviews__name"><p>Bryan, New-York</p></div>
      </div>
      <!-- Slide3 -->
      <div class="swiper-slide">
        <!-- <li class="reviews__img--item"> -->
        <picture class="reviews__img--item">
          <source
            srcset="
              ./images/reviews/reviews3@1x.jpg 1x,
              ./images/reviews/reviews3@2x.jpg 2x
            "
          />
          <img
            class="reviews__img--item"
            src="./images/reviews/reviews2@1x.jpg"
            alt="customer"
            loading="lazy"
          />
        </picture>
        <!-- </li> -->
        <div class="reviews__text--box">
          <p class="reviews__text">
            Ice cream is my passion! I love your chocolate hazelnut ice cream!
            And I really like the excellent service - always served politely and
            quickly!
          </p>
        </div>
        <p class="reviews__name">Diana, Chicago</p>
      </div>
    </div>
    <!-- Pagination -->
    <div class="swiper-pagination"></div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
  <script src="./slider.js"></script>
</section>
