
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.contacts__box {
    padding-bottom: 60px;
    width: 100%;
    background-image: 
    linear-gradient(rgba(255, 255, 255, .1) 0,
    rgba(255, 255, 255, .1) 353px,
    $primary-color 353px, $primary-color 100%);
    background-image:
        linear-gradient(rgba(255, 255, 255, .1) 0,
            rgba(255, 255, 255, .1) 353px,
            $primary-color 353px, $primary-color 100%);

    @media screen and (min-width: 768px) {
        padding-bottom: 40px;
        background-image:
        linear-gradient(rgba(255, 255, 255, .1) 0,
        rgba(255, 255, 255, .1) 299px,
        $primary-color 299px, $primary-color 100%);
    }
    @media screen and (min-width: 1200px) {
        padding-bottom: 120px;
            background-image:
                linear-gradient(rgba(255, 255, 255, .1) 0,
                    rgba(255, 255, 255, .1) 128px,
                    $primary-color 128px, $primary-color 100%);
        }

}

.contacts__before::before {
    content: "";
    display: block;
    width: 216px;
    height: 0px;
    border: 1px solid #E1E1E1;
    position: absolute;
    bottom: 125%;
    @media screen and (min-width: 768px) {
        width: 176px;
    }
    @media screen and (min-width: 768px) {
        width: 176px;
    }

    @media screen and (min-width: 1200px) {
        width: 288px;
    }
}
.contacts__after::after {
    content: "";
    display: block;
    width: 216px;
    height: 0px;
    border: 1px solid #E1E1E1;
    position: absolute;
    top: 125%;
    @media screen and (min-width: 768px) {
        width: 176px;
    }
    @media screen and (min-width: 768px) {
        width: 176px;
    }
    @media screen and (min-width: 1200px) {
        width: 288px;
    }
}

.contacts__ithem {
    width: 280px;
    height: 412px;
    background: $second-color;
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    border-radius: 24px;
    padding: 40px 32px 24px 32px;
    margin: 0 auto;
    margin-bottom: 16px;
    &:last-child {
        margin-bottom: 0;
    }
    &:last-child {
        margin-bottom: 0;
    }
    @media screen and (min-width: 768px) {
        width: 224px;
        height: 537px;
        display: inline-flex;
        margin-bottom: 0;
        padding: 40px 24px;
        margin-right: 16px;
        &:last-child {
            margin-right: 0;
        }
    }
    @media screen and (min-width: 1200px) {
        width: 368px;
        height: 542px;
        padding: 40px;
        margin-right: 32px;
        &:last-child {
            margin-right: 0;
        }
    }
}

.contacts__location {
    margin-bottom: 48px;
    @media screen and (min-width: 768px) {
        margin-bottom: 64px;
    }
}

.contacts__week {
    position: relative;
    margin-bottom: 48px;
    @media screen and (min-width: 768px) {
        margin-bottom: 64px;
    }
}

.contacts__title {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 120%;
    /* or 14px */
    display: inline-flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: $main-text-color;
    padding: 4px 22px;
    background: $accent-color;
    border-radius: 4px;
    margin-bottom: 20px;
    @media screen and (min-width: 768px) {
        margin-bottom: 32px;
        font-size: 16px;
        line-height: 140%;
        padding: 4px 14px;
    }
}

.contacts__location--text {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 186%;
        /* or 22px */    
    letter-spacing: 0.04em;
    color: $main-text-color;
    margin-bottom: 8px;
    /* or 22px */
    letter-spacing: 0.04em;
    color: $main-text-color;
    margin-bottom: 8px;
    @media screen and (min-width: 768px) {
        margin-bottom: 12px;
        font-size: 14px;
        line-height: 186%;
    }
    @media screen and (min-width: 1200px) {
        margin-bottom: 8px;
        font-size: 16px;
        line-height: 186%;
    }
}

.contacts__location--link {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 183%;
        /* or 22px */
    letter-spacing: 0.04em;
    color: #D6936D;
    /* or 22px */
    letter-spacing: 0.04em;
    color: #D6936D;

    @media screen and (min-width: 768px) {
        font-size: 14px;
        line-height: 183%;
    }
    @media screen and (min-width: 1200px) {
    font-size: 16px;
    line-height: 183%;
    }
    @media screen and (min-width: 1200px) {
        font-size: 16px;
        line-height: 183%;
    }
}
.contacts__week--working {
    margin-bottom: 8px;
}

.contacts__week--working--days {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 186%;
    /* or 22px */
    color: $main-text-color;
    @media screen and (min-width: 768px) {
        font-size: 14px;
        line-height: 186%;
    }
    @media screen and (min-width: 1200px) {
        font-size: 16px;
        line-height: 186%;
        }
}
.contacts__week--working--time {
    @media screen and (min-width: 1200px) {
        font-size: 16px;
        line-height: 186%;
    }
}

.contacts__week--working--time {

    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 186%;
    /* or 22px */
    color: $btn-disable;
    @media screen and (min-width: 768px) {
        font-size: 14px;
        line-height: 186%;
    }
    @media screen and (min-width: 1200px) {
    font-size: 16px;
    line-height: 186%;
    }
}

.contacts__tel, .contacts__mail {

    @media screen and (min-width: 1200px) {
        font-size: 16px;
        line-height: 186%;
    }
}

.contacts__tel,
.contacts__mail {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 160%;
    /* or 19px */
    color: $main-text-color;
    @media screen and (min-width: 768px) {
        font-size: 14px;
        line-height: 150%;
    }
    @media screen and (min-width: 1200px) {
    font-size: 16px;
    line-height: 150%;
    }
    @media screen and (min-width: 1200px) {
        font-size: 16px;
        line-height: 150%;
    }
}

.contacts__btn {
    position: relative;
    width: 196px;
    height: 42px;
    display: block;
    margin: auto;
    color: $main-text-color;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 1.29;
        cursor: pointer;
    border-radius: 10px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.29;
    cursor: pointer;
    border-radius: 10px;
}

.contacts__btn-locations {
    background-color: $accent-color;
    border: none;
    margin-top: 20px;
    margin-bottom: 16px;
    color: $main-text-color;
    @media screen and (min-width: 768px) {
        margin-top: 0;
        margin-bottom: 0;
    }
    &:focus-visible {
        outline: none;
    }

    &:focus-visible {
        outline: none;
    }

    &:hover {
        background-color: $btn-hover;
        color: #000000;
    }

    &:focus {
        background-color: $btn-hover;
        color: #FFFFFF;
        fill: #FFFFFF;
    }
        &:disabled,
        &[disabled] {
        background: $btn-disable;    
        }

    &:disabled,
    &[disabled] {
        background: $btn-disable;
    }

}

.contacts__btn-franchise {
    background-color: transparent;
    color: #000000;
    border: 2px solid $accent-color;
    &:focus-visible {
        outline: none;
    }
    &:hover {
    border: 2px solid $btn-hover;
    }
    &:focus-visible {
        outline: none;
    }
    &:hover {
        border: 2px solid $btn-hover;
    }
    &:focus {
        border: 2px solid $btn-hover;
        color: #FFFFFF;
        fill: #FFFFFF;
        
    }
    &:disabled,
    &[disabled] {
        border: 2px solid $btn-disable;
    }
}

.contacts-btn__list {
    @media screen and (min-width: 768px) {
        display: flex;
        justify-content: center;
        margin-top: 40px;
    }
}
.contacts-btn__ithem {
    @media screen and (min-width: 768px) {
        display: inline-flex;
    }
}

.contacts-btn__ithem {
    @media screen and (min-width: 768px) {
        display: inline-flex;
    }
}

.contacts-btn__ithem--margin {
    @media screen and (min-width: 768px) {
        margin-right: 16px;
    }
}

.contacts-btn__svg {
    width: 12px;
    height: 12px;
    margin-left: 4px;
    position: absolute;
    bottom: 33%;
}

/*початок модалки*/

/* modalka 1*/

.contacts__modal-subtitle {
    font-family: 'Seymour One';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: $main-text-color;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    @media screen and (min-width:768px) {
            font-size: 20px;
            line-height: 1.4;
        }
}

.contacts__button-submit {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.25;
    color: $main-text-color;
    background: $accent-color;
    border-radius: 10px;
    border: none;
    display: block;
    margin: 0 auto;
    cursor: pointer;
    height: 42px;
}

.contacts__button-submit--locations {
    width: 134px;
    text-decoration: none;
    padding: 12px 34px;
    @media screen and (min-width:768px) {
            font-size: 14px;
            line-height: 1.21;
            width: 145px;
        }
}

.contacts__button-submit--franchise {
    width: 114px;
    @media screen and (min-width:768px) {
            font-size: 14px;
            line-height: 1.21;
            width: 121px;
        }
}

.contacts__modal-form__map {
    margin-bottom: 24px;
    border-radius: 10px;
    
}


/* modalka 2*/

.contacts__modal-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: $main-text-color;
    margin-bottom: 24px;
    @media screen and (min-width: 768px) {
        font-size: 16px;
        line-height: 140%;
    }
}

.contacts__form-group {
    @media screen and (min-width: 768px) {
        width: 368px;
        margin: 0 auto;
    }
}

.contacts__form-input:focus-visible {
    outline: none;
    justify-content: center;
}

.contacts__form-input {
    font-family: 'Montserrat';
    font-style: normal;
    width: 224px;
    height: 32px;
    margin-bottom: 12px;
    background: rgba(248, 210, 78, 0.1);
    border: 1px solid $primary-color;
    border-radius: 10px;
    font-weight: 400;
    font-size: 12px;
    line-height: 140%;
    color: $main-text-color;
    padding: 8px 12px 7px 12px;
    @media screen and (min-width: 768px) {
        width: 368px;
        height: 42px;
        font-size: 14px;
        
    }
}

.contacts__form-massage {
    font-family: 'Montserrat';
    font-style: normal;
    width: 224px;
    height: 64px;
    background: rgba(248, 210, 78, 0.1);
    border: 1px solid $primary-color;
    border-radius: 10px;
    font-weight: 400;
    font-size: 12px;
    line-height: 140%;
    color: $main-text-color;
    resize: none;
    margin-bottom: 24px;
    padding: 8px 12px 39px 12px;
    @media screen and (min-width: 768px) {
            width: 368px;
            height: 84px;
            font-size: 14px;
        }
}

.contacts__form-massage:focus-visible {
    outline: none;
}

