.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.contacts__address {
}

.contacts__before::before {
    content: "";
    display: block;
    width: 216px;
    height: 0px;
    border: 1px solid #E1E1E1;
    position: absolute;
    bottom: 125%;
    @media screen and (min-width: 768px) {
        width: 176px;
    }
    @media screen and (min-width: 1200px) {
        width: 288px;
    }
}
.contacts__after::after {
    content: "";
    display: block;
    width: 216px;
    height: 0px;
    border: 1px solid #E1E1E1;
    position: absolute;
    top: 125%;
    @media screen and (min-width: 768px) {
        width: 176px;
    }
    @media screen and (min-width: 1200px) {
        width: 288px;
    }
}

.contacts__ithem {
    width: 280px;
    height: 412px;
    background: #FCFCFC;
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    border-radius: 24px;
    padding: 40px 32px 24px 32px;
    margin: auto;
    margin-bottom: 16px;
    &:last-child {
        margin-bottom: 0;
    }
    @media screen and (min-width: 768px) {
        width: 224px;
        height: 537px;
        display: inline-flex;
        margin-bottom: 0;
        padding: 40px 24px;
        margin-right: 16px;
        &:last-child {
            margin-right: 0;
        }
    }

    @media screen and (min-width: 1200px) {
        width: 368px;
        height: 542px;
        padding: 40px;
        margin-right: 32px;
        &:last-child {
            margin-right: 0;
        }
    }
}

.contacts__location {
    margin-bottom: 48px;
    @media screen and (min-width: 768px) {
        margin-bottom: 64px;
    }
}
.contacts__week {
    position: relative;
    margin-bottom: 48px;
    @media screen and (min-width: 768px) {
        margin-bottom: 64px;
    }
}

.contacts__title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 120%;
    /* or 14px */
    display: inline-flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: #131313;
    padding: 4px 22px;
    background: #F8D24E;
    border-radius: 4px;
    margin-bottom: 20px;
    @media screen and (min-width: 768px) {
        margin-bottom: 32px;
        font-size: 16px;
        line-height: 140%;
        padding: 4px 14px;
    }
}

.contacts__location--text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 186%;
        /* or 22px */    
    letter-spacing: 0.04em;
    color: #131313;
    margin-bottom: 8px;
    @media screen and (min-width: 768px) {
        margin-bottom: 12px;
        font-size: 14px;
        line-height: 186%;
    }
        @media screen and (min-width: 1200px) {
        margin-bottom: 8px;
        font-size: 16px;
        line-height: 186%;
    }
}

.contacts__location--link {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 183%;
        /* or 22px */
    letter-spacing: 0.04em;
    color: #D6936D;
    @media screen and (min-width: 768px) {
        font-size: 14px;
        line-height: 183%;
    }
    @media screen and (min-width: 1200px) {
    font-size: 16px;
    line-height: 183%;
    }
}

.contacts__week--working {
    margin-bottom: 8px;
}

.contacts__week--working--days {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 186%;
    /* or 22px */
    color: #131313;
    @media screen and (min-width: 768px) {
        font-size: 14px;
        line-height: 186%;
    }
    @media screen and (min-width: 1200px) {
        font-size: 16px;
        line-height: 186%;
        }
}
.contacts__week--working--time {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 186%;
    /* or 22px */
    color: #ABABAB;
    @media screen and (min-width: 768px) {
        font-size: 14px;
        line-height: 186%;
    }
    @media screen and (min-width: 1200px) {
    font-size: 16px;
    line-height: 186%;
    }
}
.contacts__tel-mail {}

.contacts__tel, .contacts__mail {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 160%;
    /* or 19px */
    color: #131313;
    @media screen and (min-width: 768px) {
        font-size: 14px;
        line-height: 150%;
    }
    @media screen and (min-width: 1200px) {
    font-size: 16px;
    line-height: 150%;
    }
}

.contacts__btn {
    width: 196px;
    height: 42px;
    display: block;
    margin: auto;
    color: #131313;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 1.29;
        cursor: pointer;
    border-radius: 10px;
}
.contacts__btn-locations {
    background-color: #F8D24E;
    border: none;
    margin-top: 20px;
    margin-bottom: 16px;
    @media screen and (min-width: 768px) {
        margin-top: 0;
        margin-bottom: 0;
    }
    &:focus-visible {
        outline: none;
    }
    &:hover {
        background-color: #0A8817;
        color: #000000;
    }
    &:focus {
        background-color: #0A8817;
        color: #FFFFFF;
    }
        &:disabled,
        &[disabled] {
        background: #ABABAB;    
        }
}


.contacts__btn-franchise {
    background-color: transparent;
    color: #000000;
    border: 2px solid #F8D24E;
    &:focus-visible {
        outline: none;
    }
    &:hover {
    border: 2px solid #0A8817;
    }
    &:focus {
        border: 2px solid #0A8817;
        color: #FFFFFF;
    }
    &:disabled,
    &[disabled] {
        border: 2px solid #ABABAB;
    }
}

.contacts-btn__list {
    @media screen and (min-width: 768px) {
        display: flex;
        justify-content: center;
        margin-top: 40px;
    }
}
.contacts-btn__ithem {
    @media screen and (min-width: 768px) {
        display: inline-flex;
        
    }
}
.contacts-btn__ithem--margin {
    @media screen and (min-width: 768px) {
        margin-right: 16px;
    }
}
