[class*="__container"] {
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;


    // MOBILE
    @media screen and (min-width: 480px) {
        width: 480px;
    }


    // TABLET
    @media screen and (min-width: 768px) {
        width: 768px;
        padding: 0 32px;
    }


    // DESKTOP
    @media screen and (min-width: 1200px) {
        width: 1200px;
        padding: 0 16px;
    }
}