.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.contacts__ithem {
    max-width: 280px;
    height: 412px;
    background: #FCFCFC;
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    border-radius: 24px;
    padding: 40px 32px 24px 32px;
    margin: auto;
    margin-bottom: 16px;
    &:last-child {
        margin-bottom: 0;
    }
    
}

.contacts__location {
    margin-bottom: 48px;
}
.contacts__week {
    margin-bottom: 48px;
}

.contacts__title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 120%;
    /* or 14px */
    display: inline-flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: #131313;
    padding: 4px 22px;
    background: #F8D24E;
    border-radius: 4px;
    margin-bottom: 20px;
}

.contacts__location--text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 186%;
        /* or 22px */    
    letter-spacing: 0.04em;
    color: #131313;
    margin-bottom: 8px;
}

.contacts__location--link {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 183%;
        /* or 22px */
    letter-spacing: 0.04em;
    color: #D6936D;
}

.contacts__week--working {
    margin-bottom: 8px;
}

.contacts__week--working--days {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 186%;
    /* or 22px */
    color: #131313;
}
.contacts__week--working--time {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 186%;
    /* or 22px */
    color: #ABABAB;
}

.contacts__tel, .contacts__mail {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 160%;
    /* or 19px */
    color: #131313;
}

.contacts__btn {
    width: 196px;
    height: 42px;
    display: block;
    margin: auto;
}
.contacts__btn-locations {
    background-color: #F8D24E;
    border-radius: 4px;
    border: none;
    margin-top: 20px;
    margin-bottom: 16px;
}

.contacts__btn-franchise {
    border-radius: 4px;
    border: none;
    background-color: transparent;
}