.header__container {
  background-color: var(--primary-color);
}
.header__btn {
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and(min-width: 768px) {
    background-color: #f8d24e;
    width: 152px;
    height: 42px;
    border-radius: 10px;
    font-weight: 600;
    line-height: 1.21;
    font-size: 14px;
    border: none;
    cursor: pointer;
  }
}

.header__nav {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
}
.header__list {
  @media screen and (max-width: 1199px) {
    display: none;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
  }
}
.menu-toggle {
  border: none;
  background-color: transparent;
  @media screen and(min-width:1200px) {
    display: none;
  }
}

.header-nav__link {
  text-decoration: none;
  color: #fcfcfc;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
}
.header-nav__item:not(:last-child) {
  padding-right: 28px;
}
.header-nav__link:hover,
.header-nav__link:focus {
  color: #f8d24e;
}
.button-icone {
  color: #212121;
}
.buttons-conteiner {
  display: flex;
}

// mobile menu
// .menu__nav {
//   display: flex;
// }
.menu-container,
.menu-toggle {
  @media (min-width: 767px) {
    display: none;
  }
}
.menu-toggle {
  @media screen and(max-width:1199px) {
    min-height: 40px;
    min-width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    outline: none;
  }
}

.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}
.mobile_logo {
  position: absolute;
  top: 20px;
  left: 32px;
}
.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  background-color: rgba(151, 175, 141, 1);
  z-index: 999;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 32px;
  right: 32px;
  color: #fff;
}

.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
}
.mobile_menu__link {
  display: block;

  font-weight: 700;
  font-size: 48px;
  line-height: 1.22;

  color: #fcfcfc;
  text-decoration: none;

  &.header__link--current {
    color: rgba(19, 19, 19, 1);
  }
}
.menu_button-close {
  fill: #fcfcfc;
  border: currentColor;

  &:hover,
  &:focus {
    fill: var(--active-color);
  }
}

.mobile_menu-item {
  margin-bottom: 32px;
}
// modal window
@mixin centeredAbsolute($x__abs: left, $y__abs: top) {
  position: absolute;
  $x__number: -50%;
  $y__number: -50%;
  @if $x__abs == left {
    left: 50%;
  } @else {
    right: 50%;
    $x__number: 50%;
  }
  @if $y__abs == top {
    top: 50%;
  } @else {
    bottom: 50%;
    $y__number: 50%;
  }
  transform: translate($x__number, $y__number) scale(1); /* 100%*/
}
//placeholders
%is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
%fixed00-100 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
}
.backdrop {
  @extend %fixed00-100;
  overflow-y: scroll; /*щоб не скролився контент під ним*/
  transition: opacity var(--duration--) var(--cubic--),
    visibility var(--duration--) var(--cubic--);
  &.is-hidden {
    @extend %is-hidden;
    & .modal {
      transform: scale(0.01);
    }
  }
}
.modal {
  @include centeredAbsolute($x__abs: right);
  width: 280px;
  @media screen and (min-width: $min-tablet) {
    width: 568px;
  }
  background: #fcfcfc;
  border: 2px solid #f8d24e;
  border-radius: 10px;
  transition: var(--transform--) 1s var(--cubic--),
    var(--transform--) 1s var(--cubic--);
}
/* кнопка закриття в модальному вікні */
.button-close {
  position: absolute;
  display: block;
  padding: 0;
  top: 12px;
  right: 12px;
  //hover
  &:focus,
  &:hover .icon-close {
    stroke: var(--accent-color--);
  }
}
.icon-close {
  //   background-color: #FCFCFC;
  fill: #fcfcfc;
  @media screen and (min-width: $min-tablet) {
    width: 24px;
    height: 24px;
  }
  /* хрестик,коло stroke :/*var(--button-bg-color--);  */
}
.form {
  &__list {
    margin-top: 40px;
    @media screen and (min-width: $min-tablet) {
      margin-top: 48px;
    }
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    margin-bottom: 24px;
    @media screen and (min-width: $min-tablet) {
      margin-bottom: 32px;
    }
  }
  /*.form__input*/
  &__input {
    display: block;
    width: 240px;
    padding: 11px 10px;
    // padding: 11px auto 11px 10px;
    @media screen and (min-width: $min-tablet) {
      width: 368px;
      padding: 11px 16px;
    }
    font-family: 'Montserrat';
    font-size: 14px;
    line-height: 140%;
    color: #131313;
    outline: none;
    background: rgba(248, 210, 78, 0.1);
    border: 1px solid #84a178;
    border-radius: 10px;
    // transition: var(--bordercolor--) var(--duration--) var(--cubic--);
    /*.form__input--textarea*/
    &--textarea {
      resize: none;
      padding: 12px 16px;
    }
    /*.form__input--placeholder*/
    &::placeholder {
      font-size: 12px;
      line-height: calc(14 / 12);
      letter-spacing: 0.01em;
      color: rgba(117, 117, 117, 0.5);
    }
  }
}
/* кнопка відправлення форми заявку */
.submit__button--center {
  display: block;
  margin: 0 auto;
  margin-bottom: 40px;
  padding: 12px 34px;
  background: #f8d24e;
  border-radius: 10px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: calc(15 / 12);
  color: #131313;
}
