//SASS variables
$color: color;
$fill: fill;
$bgcolor: background-color;
$bordercolor: border-color;
$filter: filter;
$transform: transform;
$duration: 250ms;
$cubic: cubic-bezier(0.4, 0, 0.2, 1);

// break-points
$min-mobile: 480px;
$min-tablet: 768px;
$min-desktop: 1200px;

$max-mobile: 767.98px;
$max-tablet: 1199.98px;

$ice-cream-color: #aec6a5;
$ice-coffee-color: #efd478;
$milkshakes-color: #d6936d;
$chart-color: #9cbe8f;
$chart-shadow-color: rgba(10, 136, 23, 0.25);
$placeholder-color: rgba(117, 117, 117, 0.5);

/*центрує блок всередині батька /можна зминити кут будови, що впливає на ефект  scale() */
@mixin centeredFixed($x__abs: left, $y__abs: top) {
  position: fixed;
  $x__number: -50%;
  $y__number: -50%;

  @if $x__abs == left {
    left: 50%;
  } @else {
    right: 50%;
    $x__number: 50%;
  }
  @if $y__abs == top {
    top: 50%;
  } @else {
    bottom: 50%;
    $y__number: 50%;
  }
  transform: translate($x__number, $y__number) scale(1); /* 100%*/
}

//анімація item
@keyframes item-jump {
  0% {
    transform: perspective(400px) translateY(-10px);
  }
  50% {
    transform: perspective(400px) translateY(0);
  }

  100% {
    transform: perspective(400px) translateY(-10px);
  }
}
@keyframes item-rotate {
  0% {
    transform: perspective(400px) rotate(0deg);
  }
  50% {
    transform: perspective(400px) rotate(-90deg);
  }

  100% {
    transform: perspective(400px) rotate(180deg);
  }
  //підібрати час/метод/затримку
}
@keyframes item-scale {
  0% {
    // opacity: 0.3;
    transform: perspective(400px) scale(1);
  }
  50% {
    // opacity: 0.7;
    transform: perspective(400px) scale(1.5);
  }

  100% {
    // opacity: 1;
    transform: perspective(400px) scale(1);
  }
  //підібрати час/метод таймінгу/затримку/к-ть повторів
}

/* глобальні налаштування */
//body {
// .products.modal {
//   // height: 100vh;
//   // overflow-y: hidden;
// }
//}
/*загальне налаштування для кнопок */
.btn {
  border: none;
  cursor: pointer;
}
/* спільна властивість секцій */
.section {
  padding-bottom: 60px;
  padding-top: 60px;
}

//Секція products
.products {
  & .section-subtitle {
    font-weight: 800;
    font-size: 18px;
    line-height: calc(22 / 18);
    text-align: center;
    text-transform: uppercase;
    color: var(--main-text-color);
    margin-bottom: 12px;
    @media screen and (min-width: $min-tablet) {
      font-size: 22px;
      line-height: calc(27 / 22);
    }
    @media screen and (min-width: $min-desktop) {
      font-size: 30px;
      line-height: calc(37 / 30);
    }
  } //& .section-subtitle

  & .section-title {
    font-family: 'Seymour One', sans-serif;
    // font-style: normal;
    // font-weight: 400;
    font-size: 30px;
    line-height: calc(38 / 30);
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--main-text-color);
    margin-bottom: 148px;
    @media screen and (min-width: $min-tablet) {
      font-size: 34px;
      line-height: calc(43 / 34);
      margin-bottom: 200px;
    }
    @media screen and (min-width: $min-desktop) {
      font-size: 36px;
      line-height: calc(45 / 36);
      letter-spacing: 0.06em;
      margin-bottom: 303px;
    }
  } // & .section-title

  &__list {
    margin: 0 auto;
    @media screen and (min-width: $min-tablet) {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 16px;
    }
    @media screen and (min-width: $min-desktop) {
      gap: 29px;
    }
  } // &__list
  &__item {
    margin: 0 auto;
    position: relative;
    width: 280px;
    height: 420px;
    border-radius: 24px;
    @media screen and (max-width: $max-mobile) {
      &:not(:last-child) {
        margin-bottom: 168px;
      }
    }
    @media screen and (min-width: $min-tablet) {
      width: 224px;
      height: 428px;
    }
    @media screen and (min-width: $min-desktop) {
      width: 370px;
      height: 536px;
    }
    &--ice-cream {
      background-color: $ice-cream-color;
    }
    &--ice-coffee {
      background-color: $ice-coffee-color;
    }
    &--milkshakes {
      background-color: $milkshakes-color;
    }
    animation: item-jump 1s $cubic 5;
  } //&__item
  %products-before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 211px;
    background-color: inherit;
    transform: translate(-50%, -81%);
    background-size: contain;
    background-repeat: no-repeat;
    @media screen and (min-width: $min-desktop) {
      width: 302px;
      height: 318px;
    }
  }
  //:before {
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -81%);
  //}
  &__title {
    text-align: center;
    text-transform: uppercase;
    padding-top: 124px;
    margin-bottom: 40px;
    @media screen and (min-width: $min-tablet) {
      padding-top: 108px;
    }
    @media screen and (min-width: $min-desktop) {
      padding-top: 165px;
      margin-bottom: 66px;
    }

    &--ice-cream {
      position: relative;
    }
    &--ice-cream:before {
      @extend %products-before;

      background-image: url(../images/products/prod1_sm@1x.png);
      @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        background-image: url(../images/products/prod1_sm@2x.png); //mobile retina
      }

      @media screen and (min-width: $min-tablet) {
        background-image: url(../images/products/prod1_md@1x.png); //tablet

        @media screen and (min-device-pixel-ratio: 2),
          screen and (min-resolution: 192dpi),
          screen and (min-resolution: 2dppx) {
          background-image: url(../images/products/prod1_md@2x.png); //tablet retina
        }
      }
      //desktop
      @media screen and (min-width: $min-desktop) {
        background-image: url(../images/products/prod1_lg@1x.png); //desktop

        @media screen and (min-device-pixel-ratio: 2),
          screen and (min-resolution: 192dpi),
          screen and (min-resolution: 2dppx) {
          background-image: url(../images/products/prod1_lg@2x.png); //desktop retina
        }
      }
    } // &--ice-cream::before
    &--ice-coffee {
      position: relative;
    }
    &--ice-coffee:before {
      @extend %products-before;
      background-image: url(../images/products/prod2_sm@1x.png);
      @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        background-image: url(../images/products/prod2_sm@2x.png); //mobile retina
      }

      @media screen and (min-width: $min-tablet) {
        background-image: url(../images/products/prod2_md@1x.png); //tablet

        @media screen and (min-device-pixel-ratio: 2),
          screen and (min-resolution: 192dpi),
          screen and (min-resolution: 2dppx) {
          background-image: url(../images/products/prod2_md@2x.png); //tablet retina
        }
      }
      //desktop
      @media screen and (min-width: $min-desktop) {
        background-image: url(../images/products/prod2_lg@1x.png); //desktop

        @media screen and (min-device-pixel-ratio: 2),
          screen and (min-resolution: 192dpi),
          screen and (min-resolution: 2dppx) {
          background-image: url(../images/products/prod2_lg@2x.png); //desktop retina
        }
      }
      // transform: rotate(360deg);
      // opacity: 0;
      // animation: item-jump 300ms ease-out 300ms 14 alternate-reverse forwards;
    } // &--ice-coffee::before
    &--milkshakes {
      position: relative;
    }
    &--milkshakes:before {
      @extend %products-before;
      background-image: url(../images/products/prod3_sm@1x.png);
      @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        background-image: url(../images/products/prod3_sm@2x.png); //mobile retina
      }

      @media screen and (min-width: $min-tablet) {
        background-image: url(../images/products/prod3_md@1x.png); //tablet

        @media screen and (min-device-pixel-ratio: 2),
          screen and (min-resolution: 192dpi),
          screen and (min-resolution: 2dppx) {
          background-image: url(../images/products/prod3_md@2x.png); //tablet retina
        }
      }
      //desktop
      @media screen and (min-width: $min-desktop) {
        background-image: url(../images/products/prod3_lg@1x.png); //desktop

        @media screen and (min-device-pixel-ratio: 2),
          screen and (min-resolution: 192dpi),
          screen and (min-resolution: 2dppx) {
          background-image: url(../images/products/prod3_lg@2x.png); //desktop retina
        }
      }
    } // &--milkshakes::before
  }
  &__text {
    text-align: center;
    padding: 0 40px;
    @media screen and (min-width: $min-tablet) {
      padding: 0 26px;
    }
    @media screen and (min-width: $min-desktop) {
      padding: 0 64px;
    }
    transition: $transform 5s $cubic;
    &:focus,
    &:hover {
      transform: scale(1.5);
    }
  } //&__text
  &__button {
    position: absolute;
    border: none;
    display: block;
    left: 50%;
    bottom: 24px;
    transform: translate(-50%, -50%);
    fill: currentColor;
    background-color: inherit;
    cursor: pointer;
    //  margin-bottom: 24px;
    @media screen and (min-width: $min-tablet) {
      bottom: 20px;
    }
    @media screen and (min-width: $min-desktop) {
      bottom: 67px;
    }
  } //&__button

  &__icon {
    transition: $transform 500ms $cubic;
    &:focus,
    &:hover {
      transform: rotate(360deg);
    }
  }
  // &__icon-cross {
  //   fill:  #817C7C;
  //   /* хрестик,коло stroke :/*var(--button-bg-color--);  */
  // }
} //products
//Вікно modal products
//placeholder позиціонування overlay
%fixed00-100 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  // opacity: 1;
}
// body {
//   overflow-scroll;
// }
// //Налаштування backdrop
// .backdrop {
//   @extend %fixed00-100;
//   overflow-y: scroll; /*щоб не скролився контент під ним*/
//   transition: opacity $duration $cubic, visibility $duration $cubic;
//   &.is-hidden {
//     // @extend %is-hidden;
//     & .modal {
//       transform: scale(0.01);
//     }
//   }
// }
.overlay {
  /* Скрываем подложку  */
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  @extend %fixed00-100;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 20;
  transition: 0.3s all;
}
// body.modal.active {
//   // height: 100vh;
//   overflow-y: scroll;
// }
//Налаштування модалки
.products {
  &.modal {
    opacity: 0;
    visibility: hidden;
    z-index: 30; /* Должен быть выше чем у подложки*/
    transform: scale(0.01);

    background: $second-color;
    border: 2px solid $accent-color;
    border-radius: 10px;
  }
  &.overlay.active {
    height: 67ph;
    overflow: hidden;
    opacity: 1;
    visibility: visible;
    transition: opacity 1s $cubic, visibility 1s $cubic;
  }
  &.modal.active {
    overflow-y: scroll;
    opacity: 1;
    visibility: visible;
    width: 280px;
    @media screen and (min-width: $min-tablet) {
      width: 568px;
    }
    @include centeredFixed();
    transition: $transform 1s $cubic, $transform 1s $cubic;
    // transition: all 1s $cubic;
  }
}
/* кнопка закриття в модальному вікні */
.button-close {
  position: absolute;
  top: 12px;
  right: 12px;
  background-color: $second-color;
  display: block;
  padding: 0;
  //hover
  &:focus,
  &:hover .icon-cross {
    stroke: $accent-color;
  }
}

.icon-cross {
  background-color: $second-color;
  fill: $main-text-color;
  @media screen and (min-width: $min-tablet) {
    width: 24px;
    height: 24px;
  }
  /* хрестик,коло stroke :/*var(--button-bg-color--);  */
}
//Верхня частина modal заголовок і картинка
.products {
  &__modal-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media screen and (min-width: $min-tablet) {
      flex-direction: row;
      gap: 5px;
    }
    font-family: 'Seymour One';
    // font-style: normal;
    // font-weight: 400;
    font-size: 20px;
    line-height: calc(28 / 20);
    color: $main-text-color;
    text-align: center;
    padding-top: 28px;
    @media screen and (min-width: $min-tablet) {
      padding-top: 32px;
    }
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  &__modal-image {
    display: block;
    margin: 0 auto;
    width: 132px;
    // height: 139px;
    margin-bottom: 30px;
    transition: $transform $duration $cubic;
    &:hover,
    &:focus {
      transform: scale(2);
    }
  }
} //.products
//Chart(4 малюнки) в мадалці
.products-chart {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 9px;
  @media screen and(min-width:$min-tablet) {
    gap: 20px;
  }
  transition: $transform 1s $cubic;
  &:hover,
  &:focus {
    transform: scale(1.5);
  }
} //products-chart

.chart__item {
  width: 53px;
  height: 72px;
  @media screen and(min-width:$min-tablet) {
    width: 65px;
    height: 90px;
  }
  border: 2px solid $chart-color;
  &.icecoffee {
    border: 2px solid $ice-coffee-color;
  }
  &.milkshakes {
    border: 2px solid $milkshakes-color;
  }
  border-radius: 40px;

  animation: item-scale 5000ms ease-in-out;
} //item овал 53*72

// .modal[data-modal="2"] .chart__item {

.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: -2px auto;
  width: 43px;
  height: 43px;
  @media screen and(min-width:$min-tablet) {
    width: 53px;
    height: 53px;
  }
  border-radius: 50%;
  background: $chart-color;
  border: 2px solid $chart-color;
  &.icecoffee {
    background: $ice-coffee-color;
    border: 2px solid $ice-coffee-color;
    box-shadow: 0px 6px 20px rgba(239, 212, 120, 0.25);
  }
  &.milkshakes {
    background: $milkshakes-color;
    border: 2px solid $milkshakes-color;
    box-shadow: 0px 6px 20px rgba(214, 147, 109, 0.25);
  }
  box-shadow: 0px 6px 20px $chart-shadow-color;
  margin-bottom: 8px;
} //круг 43*43

.ratio {
  font-weight: 500;
  font-size: 10px;
  line-height: calc(28 / 10);
  color: $main-text-color;
  display: flex;
  align-items: center;
  justify-content: center;
}
.type {
  font-size: 10px;
  line-height: calc(12 / 10);
  color: $main-text-color;
  text-align: center;
}
// } //products-chart end
//Список інгридієнтів
.products-ingredients {
  font-weight: 500;
  font-size: 20px;
  line-height: calc(28 / 20);
  color: $main-text-color;
  padding-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;
}
.ingr {
  &__list {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 11px;
    padding-left: 20px;
    padding-right: 20px;
    @media screen and (min-width: $min-tablet) {
      padding-left: 40px;
      padding-right: 40px;
    }
  }
  &__item {
    width: calc(100%); // - 2 * 20px
    margin: 0px;
    padding: 0px;
    // @media screen and (min-width: $min-tablet) {
    //   width: calc(100% - 2 * 40px); //
    // }
    font-size: 14px;
    line-height: 176%;
    letter-spacing: 0.04em;
    color: $main-text-color;
    display: flex;
    align-items: baseline;
  }
  &--space {
    flex-grow: 10;
  }
} //ingr end
//Форма в модалці
.form {
  &__list {
    padding-top: 40px;
    @media screen and (min-width: $min-tablet) {
      padding-top: 48px;
    }
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    padding-bottom: 24px;
    @media screen and (min-width: $min-tablet) {
      padding-bottom: 32px;
    }
  }

  /*.form__input*/
  &__input {
    display: block;
    width: 240px;
    padding: 11px 10px;
    // padding: 11px auto 11px 10px;
    @media screen and (min-width: $min-tablet) {
      width: 368px;
      padding: 11px 16px;
    }
    font-size: 14px;
    line-height: 140%;
    color: $main-text-color;
    outline: none;
    background: rgba(248, 210, 78, 0.1);
    border: 1px solid $primary-color;
    &.icecoffee {
      border: 1px solid $ice-coffee-color;
    }
    &.milkshakes {
      border: 1px solid $milkshakes-color;
    }
    border-radius: 10px;
    // transition: var(--bordercolor--) $duration $cubic;

    /*.form__input--textarea*/
    &--textarea {
      resize: none;
      padding: 12px 16px;
    }
    /*.form__input--placeholder*/
    &::placeholder {
      font-size: 12px;
      line-height: calc(14 / 12);
      letter-spacing: 0.01em;
      color: $placeholder-color;
    }
  }
}
/* кнопка відправлення форми */
.submit__button--center {
  display: block;
  margin: 0 auto;
  margin-bottom: 40px;
  padding: 12px 34px;
  background: $accent-color;
  border-radius: 10px;
  font-weight: 600;
  font-size: 12px;
  line-height: calc(15 / 12);
  color: $main-text-color;
}
.buynow {
  &-modal__list {
    margin: 0 auto;
    @media screen and (min-width: $min-tablet) {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 32px;
    }
  } // &__list
  &__item {
    margin: 0 auto;
    width: 132px;
    height: 136px;
    background: #fcfcfc;
    border: 2px solid #f8d24e;
    border-radius: 10px;
    @media screen and (max-width: $max-mobile) {
      &:not(:last-child) {
        margin-bottom: 82px;
      }
      &--ice-cream {
        border-color: $ice-cream-color;
      }
      &--ice-coffee {
        border-color: $ice-coffee-color;
      }
      &--milkshakes {
        border-color: $milkshakes-color;
      }

      &--ice-cream:hover,
      &--ice-cream:focus {
        background-color: $ice-cream-color;
      }
      &--ice-coffee:hover,
      &--ice-coffee:focus {
        background-color: $ice-coffee-color;
      }
      &--milkshakes:hover,
      &--milkshakes:focus {
        background-color: $milkshakes-color;
      }
    }
  } //&__item

  &__title {
    text-align: center;
    text-transform: uppercase;
    padding-top: 95px;
    margin-bottom: 20px;

    &--ice-cream {
      position: relative;
    }
    &--ice-cream:before {
      @extend %buynow-before;

      background-image: url(../images/products/prod1_sm@1x.png);
      @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        background-image: url(../images/products/prod1_sm@2x.png); //mobile retina
      }

      @media screen and (min-width: $min-tablet) {
        background-image: url(../images/products/prod1_md@1x.png); //tablet

        @media screen and (min-device-pixel-ratio: 2),
          screen and (min-resolution: 192dpi),
          screen and (min-resolution: 2dppx) {
          background-image: url(../images/products/prod1_md@2x.png); //tablet retina
        }
      }
    } // &--ice-cream::before
    &--ice-coffee {
      position: relative;
    }
    &--ice-coffee:before {
      @extend %buynow-before;
      background-image: url(../images/products/prod2_sm@1x.png);
      @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        background-image: url(../images/products/prod2_sm@2x.png); //mobile retina
      }

      @media screen and (min-width: $min-tablet) {
        background-image: url(../images/products/prod2_md@1x.png); //tablet

        @media screen and (min-device-pixel-ratio: 2),
          screen and (min-resolution: 192dpi),
          screen and (min-resolution: 2dppx) {
          background-image: url(../images/products/prod2_md@2x.png); //tablet retina
        }
      }
      //desktop
    } // &--ice-coffee::before
    &--milkshakes {
      position: relative;
    }
    &--milkshakes:before {
      @extend %buynow-before;
      background-image: url(../images/products/prod3_sm@1x.png);
      @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        background-image: url(../images/products/prod3_sm@2x.png); //mobile retina
      }

      @media screen and (min-width: $min-tablet) {
        background-image: url(../images/products/prod3_md@1x.png); //tablet

        @media screen and (min-device-pixel-ratio: 2),
          screen and (min-resolution: 192dpi),
          screen and (min-resolution: 2dppx) {
          background-image: url(../images/products/prod3_md@2x.png); //tablet retina
        }
      }
      //desktop
    } // &--milkshakes::before
  }
}
%buynow-before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 211px;
  @media screen and (min-width: $min-tablet) {
    width: 200px;
    height: 212px;
  }
  @media screen and (min-width: $min-desktop) {
    width: 302px;
    height: 318px;
  }
  background-color: inherit;
  transform: translate(-50%, -80%);
  background-size: contain;
  background-repeat: no-repeat;
}
